**/__pycache__
*.egg-info
*.ipynb_checkpoints
**/wandb
test/out/*
test/logs/*
**/*.json
ok_uids.npy
**/*.bin
benchmark/data/*
test/data/_*
test/data/*[0-9].tar
benchmark/data_test
benchmark/data_small
benchmark/data_large
benchmark/out_*
benchmark/preliminary_benchmarks/